{#
  _header.html.twig
  Wiederverwendbarer Dokumenten-Header: Logo links, Firmendaten rechts.
  Variablen: firma (Array aus system_einstellungen), logo_base64 (String)
#}
<table style="width:100%; border-collapse:collapse; margin-bottom:0;">
  <tr>
    <td style="width:50%; vertical-align:top; padding:0;">
      {% if logo_base64 is defined and logo_base64 %}
        <img src="data:image/png;base64,{{ logo_base64 }}"
             style="max-width:200px; max-height:80px;" alt="Logo">
      {% endif %}
    </td>
    <td style="width:50%; vertical-align:top; text-align:right; padding:0;
               font-size:9pt; line-height:1.5;">
      <strong style="font-size:11pt;">{{ shop.name ?? firma.firmenname ?? 'MEALANA KG' }}</strong><br>
      {% if shop.sub_marke ?? false %}
        <span style="font-size:8pt; color:#555;">Ein Unternehmen der<br>
        <strong>MEALANA KG</strong></span><br>
      {% endif %}
      {{ firma.strasse ?? '' }}<br>
      {{ firma.plz ?? '' }} {{ firma.ort ?? '' }}<br>
      {{ firma.land ?? 'Österreich' }}<br>
      <br>
      Telefon: {{ firma.telefon ?? '' }}<br>
      {% if firma.fax is defined and firma.fax %}
        Telefax: {{ firma.fax }}<br>
      {% endif %}
      {{ firma.email ?? '' }}<br>
      {{ firma.website ?? '' }}
    </td>
  </tr>
</table>
<hr style="border:none; border-top:1px solid #333; margin:6pt 0;">
